<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        bhai login hogya
    </h1>
    <div>
        <%= locals %>
    </div>
    <form action="/add">
        <button>
            ok
        </button>
    </form>
</body>
</html>